.backImg
{
	background-image: url("thali1.jpg");
	background-size: 100% 100%;
	background-attachment: fixed; 
	 /*important: make parallax*/
	width: 100%;
	/*padding-bottom: 100px;*/
	height: auto;


}

.welcome
{
	box-sizing: border-box;
	padding-top: 9vw;
		padding-bottom:  8vw;
	margin-bottom: 30px;
}
}
.welcome h2{
	font-size: 4vw;
}
.welcome h1{
	font-size: 8vw;
}

/*..............contact..........*/
.explore
{
height: auto;
padding-bottom:  50px;
padding-top: 5vw;
}
.mybut
{
	height: 70px;
	width: 200px;
	margin: 10px;

}


.foot
{
	margin-top: 50px;
	height: 150px;
}

